/* TodoCard.css */
.todo-card {
  
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 300px;
  height: 230px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  position: relative;
  text-align: left;
  border: 2px solid bisque;
  border-top: 6px solid yellow;

  
}


.todo-card h3{
  padding: 2px 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 20px;


}


.status{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 18px;

}

.status select{
  border: none;
  font-size: 14px;
}

.card-buttons {
  margin-top: 10px;
}

.card-buttons button, .card-buttons select {
  margin-right: 10px;
}


.icon-div{
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2px 6px;
  border-radius: 3px;
  opacity: 0;
}

.todo-card:hover .icon-div{
  opacity: 1;
}

.icon-div i{
  cursor: pointer;
}



.description{
  position: absolute;
  width: 300px;
  height: 200px;
  top: 150px;
  left: 0px;
  z-index: 4;
  background-color: white;
  padding: 20px;
  display: none;
}


.more-details{
  position: absolute;
  bottom: 10px;
  left: 15px;
  padding: 2px 4px;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  background-color: grey;
  opacity: 0;
}


.todo-card:hover .more-details{
  opacity: 1;
}


.task-description{
  width: 298px;
  height: 180px;
  padding: 10px;
  background-color: white;
  z-index: 2;
  top: 00px;
  left: 0;
  position: absolute;
  overflow: scroll;
}